/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.chromeframe {position: absolute; top: 0;}

/* style */
body{font-family:arial, sans-serif;text-align:center;transition:all 1.0s ease;}
body p{font-size:19em;color:rgba(55,55,55,0.9);}

/* Media queries*/

@media screen and (min-width: 1200px) {
body p{font-size:45em;}

}

@media screen and (max-width: 420px) {

body{background: rgba(210, 210, 210, 1.0);}

}
*/
